
html {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

@font-face {
    font-weight: 400;
    font-family: "IBM Plex Mono";
    src: url(../src/fonts/IBMPlexMono-Regular.ttf);
}

@font-face {
    font-weight: 700;
    font-family: "IBM Plex Mono";
    src: url(../src/fonts/IBMPlexMono-Bold.ttf);
}

body {
    display: flex;
    justify-content: center;
    width: 1024px;

    background-color: #000028;
}

.sc0 {
    position: relative;
    height: 768px;
    padding: 0 20px 20px 20px;
}

header {
    position: relative;
    width: 1024px;
    height: 768px;
    top: 0;

    background-image: url(../src/img/cover-image-dark.png);
    background-size: cover;
}


.theme {
    position: relative;
    top: 21.5px;
    display: flex;
    justify-content: center;
}


button {
    width: 70px;
    height: 26px;

    padding-right: 13px;
    padding-left: 13px;

    font-family: "IBM Plex Mono", sans-serif;
    color: #FF0070;
    line-height: 18px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;

    background-color: rgba(28,28,28,0);
    border: none;
    outline: none;
    cursor: pointer;
}

button:active {
    border: 1px solid #FF0070;
}

button:hover {
    border: 1px solid #FF0070;
}

.focus {
    position: absolute;
    width: 759px;
    height: 130px;
    left: 0;
    top: 319px;
    margin: 0;

    font-family: 'IBM Plex Mono', sans-serif;
    font-weight: 700;
    font-size: 157px;
    line-height: 129.525px;

    color: #DB00FF;

    text-shadow: 4px 4px 0 #FF0070;
}

.title {
    display: flex;
    position: relative;
    width: 491px;
    top: 563px;
    left: 513px;
    background-color: #FF0070;
    font-family: "IBM Plex Mono", sans-serif;
    color: #000028;
    height: 71px;
    font-weight: 700;
    font-size: 18px;
    line-height: 23.4px;
}


.rec {
    position: absolute;
    top: 20px;
    right: 20px;
}

main {
    width: 1024px;
    top: 828px;
}

.b1 {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 25px;
    height: 25px;

    border-top: 1px solid #FF0070;
    border-right: 1px solid #FF0070;
}

.b2 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 25px;
    height: 25px;

    border-bottom: 1px solid #FF0070;
    border-left: 1px solid #FF0070;
}

.sc1 {
    height: 648px;
    padding: 60px 20px 80px 20px;
}

.s2 {
    display: flex;
    flex-wrap: wrap;
    width: 1024px;
    
    top: 828px;
    padding-left: 20px;
    padding-right: 20px;
}

.s2 > p {
    position: relative;
    width: 314.96px;
    height: 47px;
    left: 20px;
    top: 0;

    font-family: 'IBM Plex Mono', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;


    color: #FF0070;
}

.d2 {
    display: flex;
    flex-direction: column;
    font-family: 'IBM Plex Mono', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 23.4px;
    text-align: left;
}

.d2 > p {
    width: 649px;
    height: 23px;
    color: #000028;
    background: #FF0070;
}

.sp1 {

    width: 648.92px;
    height: 244px;
    padding: 0;

    color: #F1B2CE;
    font-weight: 400;
}

a {
    color: #FF0070;
    outline: none;
    text-decoration: none;

}

a:visited {
    color: #FF0070;
}

.sc2 {
    height: 578px;
    padding: 0 20px 80px 20px;
}

.s3 {
    
    display: flex;
    flex-direction: column;

    width: 1024px;
    top: 1416px;
    padding-left: 20px;
    padding-right: 20px;
}

.s3 > p {
    position: relative;

    font-family: "IBM Plex Mono", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 23.4px;
    text-align: left;
    color: #FF0070;

    width: 315px;
    height: 47px;
    left: 20px;
}

.d3 {
    display: flex;
    flex-direction: row;

    font-family: "IBM Plex Mono", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 23.4px;
    text-align: left;
}

.clmn > p {
    width: 315px;
    height: 23px;

    color: #000028;
    background-color: #FF0070;
}

.sp2 {
    color: #F1B2CE;
    font-weight: 400;
    width: 315px;
    height: 351px;
    padding: 0;
}

.clmn {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.sc3 {
    position: relative;
    height: 1095px;
    padding: 0 20px 80px 20px;
}

.s4 {
    
    display: flex;

    width: 1024px;
    height: 1015px;
    top: 1994px;
    padding-left: 20px;
    padding-right: 20px;
}

.s4 > p {
    width: 315px;
    height: 98px;

    font-family: 'IBM Plex Mono', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 23.4px;
    text-align: left;

    color: #FF0070;
}

.d4 {
    position: absolute;

    width: 649px;
    height: 1015px;
    left: 355px;
    gap: 20px;

    font-family: 'IBM Plex Mono';
    font-size: 18px;
    line-height: 23.4px;
    text-align: left;
}

.d4 > p {
    width: 649px;
    height: 23px;
    font-weight: 700;

    color: #000028;
    background-color: #FF0070;
}

.d4c > p {
    width: 649px;
    height: 23px;
    font-weight: 400;

    color: #000028;
    background-color: #FF0070;
}

.sp3 {
    width: 647.55px;
    height: 211px;

    color: #F1B2CE;
}

.s5img > p {
    width: 984px;
    height: 23px;

    font-family: 'IBM Plex Mono', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 23.4px;
    text-align: left;

    
    color: #000028;
    background-color: #FF0070;
}

.g {
    display: grid;
    grid-template-columns: repeat(4, 1em);
    grid-template-rows: repeat(4, 1em);
}

.img1 {
    grid-column: 1/span 1;
    grid-row: 1/span 2;
}

.img2 {
    grid-column: 2/span 2;
    grid-row: ;
}

.img3 {
    
}

.img4 {
    
}

.img5 {
    
}


