html {
    box-sizing: border-box;
}

@font-face {
    font-weight: 400;
    font-family: "IBM Plex Mono";
    src: url(../src/IBM_Plex_Mono/IBMPlexMono-Regular.ttf);
}

@font-face {
    font-weight: 700;
    font-family: "IBM Plex Mono";
    src: url(../src/IBM_Plex_Mono/IBMPlexMono-Bold.ttf);
}

body {
    display: flex;
    justify-content: center;

    background-color: #000028;
}

.header {
    width: 1024px;
    height: 768px;

    background-image: url(https://www.figma.com/file/qcKarr7T5SHXhjwn3PQ2lg/image/dfd0bddab7b566964fd701840768cd9eecd5ea42);
    background-size: cover;
}


.theme {
    display: flex;
    justify-content: center;
}


button {
    width: 70px;
    height: 26px;
    padding-right: 13px;
    padding-left: 13px;
    font-family: "IBM Plex Mono", sans-serif;
    color: #FF0070;
    line-height: 18px;
    text-align: center;
    size: 18px;
    font-weight: 400;
    background-color: rgba(28,28,28,0);
    border: none;
    outline: none;
    cursor: pointer;
}

button:active {
    border: 1px solid #FF0070;
}

button:hover {
    border: 1px solid #FF0070;
}

.focus {
    display: flex;
    justify-content: center;
    font-family: "IBM Plex Mono", sans-serif;
    position: absolute;
    /*width: 759px;
    height: 130px;
    top:  319px;*/
    font-weight: 700;
    font-size: 157px;
    line-height: 129.53px;
    color: #DB00FF;
    text-shadow: 4px 4px 0px #FF0070;
}

.title {
    display: flex;
    position: relative;
    width: 491px;
    top: 563px;
    left: 513px;
    background-color: #FF0070;
    font-family: "IBM Plex Mono", sans-serif;
    color: #000028;
    height: 71px;
    font-weight: 700;
    font-size: 18px;
    line-height: 23.4px;
}


.rec {
    position: relative;
    width: 33px;
    height: 26px;
    top: 20px;
    left: 943px;
    color: #FF0070;
}

.rec > p {
    font-family: "IBM Plex Mono", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;

}

.rec::after {
    display: flex;
    position: absolute;
    content: "";
    box-sizing: border-box;
    border-radius: 50%;
    width: 9px;
    height: 9px;
    background-color: #FF0070
}

/* Ellipse 4 

position: absolute;
width: 9px;
height: 9px;
left: 986px;
top: 28px;

background: #FF0070;
box-shadow: 0px 0px 4px 2px #FF0070;*/
